# maven
/**/target/

# dockerbuild
/**/*.jar
/**/*.tar

# vscode
/**/.vscode/

# vs
/**/.vs/

# eclipse
/**/.settings/
/**/.classpath
/**/.project

# idea
/**/.idea/
/**/*.iml

# vue
/**/node_modules/
/**/dist/

# draw.io
/**/.$*.bkp
/**/.$*.dtmp