# maven
/**/target/

# dockerbuild
/**/*.jar
/**/*.tar

# appbuild
/app-build/build-project/static/
/app-build/build-project/unpackage/

# vscode
/**/.vscode/

# vs
/**/.vs/

# eclipse
/**/.settings/
/**/.classpath
/**/.project

# idea
/**/.idea/
/**/*.iml

# vue
/**/node_modules/
/**/dist/

# draw.io
/**/.$*.bkp
/**/.$*.dtmp