// 用于对话框的SCSS样式表
// 对话框需要加上dialog的类名
.dialog {
	// 所有输入框
	.input-box {
		height: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.input, .input-item {
			margin-top: 16px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	// 底部按钮盒子
	.button-box {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		bottom: 10px;
	}
}